<!-- footer start -->

<footer class="site-footer">
  <div class="inner">
    <section class="copyright">
      <a rel="license"
         href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Creative Commons License" style="vertical-align: middle"
             src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
      </a>
      &nbsp;
      &sdot;
      &nbsp;
      based on
      <a href="https://github.com/dirkfabisch/mediator">
          mediator
      </a>
    </section>
  </div>
</footer>

<!-- footer end -->
